/* CSS Document */

body {
	font-family: 'Montserrat', sans-serif;
}

#viewsite{
	margin-top:10px;
	margin-bottom:10px;
}
.navbar.navbar-default{
	background: #900;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
}
.navbar-toggle{
	background: #FFF;
}

.navbar.navbar-default a{	
	color: #fff !important;
}
.navbar.navbar-default > ul > li > a:active, .navbar.navbar-default > ul > li > a:hover{
	color: #000 !important;
}
.navbar.navbar-default a:active a{
	color: #000;
}
.dropdown.open .dropdown-toggle{
	color: #000 !important;
}
.dropdown.open ul li a{
	color: #000 !important;
}
.mb-15{
	margin-top:0;
	margin-bottom:15px;
}
.error {
	margin-top: 5px;
	color: red;
}
.colorpicker{
	z-index: 0 !important;
}
footer{
	margin-top: 15px;
}

@media screen and (max-width: 765px) {
.navbar-collapse.collapse.in > .nav.navbar-nav > .dropdown.open > .dropdown-menu > li > a {
	color: #FFF !important;
}
}


