/* CSS Document */






#featured.homepage{
	background: #FFF !important;
			padding-top: 110px !important;	
}

@media screen and (max-width: 955px) {
		#featured {
			padding-top: 110px !important;
    }
}

@media screen and (max-width: 855px) {
		#featured {
			padding-top: 80px !important;
    }
}
@media screen and (max-width: 810px) {
		#featured {
			padding-top: 60px !important;
    }
}
