/* CSS Document */

body {
	background: #900;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	color: #FFF;
}
.error {
	margin-top: 5px;
	color: red;
}
form {
	padding: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #FFF;
}
.mt-15 {
	margin-top: 10px;
}
footer {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #FFF;
}
footer a {
	color: #FFF;
}
footer a:hover {
	color: #FFF;
}
