
.marginT10{ margin-top: 10px; }
.marginT20{ margin-top: 20px; }
.marginT30{ margin-top: 30px; }
.marginT40{ margin-top: 40px; }
.marginT50{ margin-top: 50px; }
.marginT60{ margin-top: 60px; }
.marginT70{ margin-top: 70px; }
.marginT80{ margin-top: 80px; }
.marginT150{ margin-top: 150px; }

.marginB10{ margin-bottom: 10px; }
.marginB20{ margin-bottom: 20px; }
.marginB30{ margin-bottom: 30px; }
.marginB40{ margin-bottom: 40px; }
.marginB50{ margin-bottom: 50px; }
.marginB60{ margin-bottom: 60px; }
.marginB70{ margin-bottom: 70px; }
.marginB80{ margin-bottom: 80px; }


/* booking form  */
.cover-input-reservation{
	margin:0 auto;
    padding: 20px;
    height: 80px;
}
cover-input-reservation{
	font-size:16px;
}
.book-slider {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
}

input[type="button"] {
    margin-left: 5px;
    /* background: #34868E; */
    text-align: center;
    width: 110px !important;
   
    font-size: 16px;
    color: #FFF;
    letter-spacing: 0.0725em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    font-family: 'Roboto', arial, helvetica, sans-serif !important;
    font-weight: 500;
    text-transform: uppercase;
    margin-left:20px;
}

.modal-body i {
    margin-left: 10px;
}
.text1 {
    color: #2e8dab;
    font-size: 14px;
    margin-left: 15px;
    text-transform: uppercase;
    border-top: 1px solid #eee;
    line-height: 3;
    margin-top: 15px;
    text-align: left;
    width: 94% !important;
}
.text2 {
    color: #2e8dab;
    font-size: 14px;
    margin-left: 15px;
    text-transform: uppercase;
    line-height: 3;

}

.li-input-accom p {
    color: #fff !important;
    margin-top: 20px;
    font-size: 22px;
    padding-right: 20px;
    font-family: 'CopperplateLight';
    line-height: 0.2em;
}

.form-group select.no-radius{
    border: solid 1px #2e8dab;
    /*height: 38px;*/
}
.select-wrapper{
    border: 1px solid #EEEEEE;
    border-radius: 4px 0px 0px 4px;
}
.modal select{
    color:  #2e8dab !important;
}
.modal{
	z-index:999;
	position:absolute;
}

/*end footer*/

.partner ul{
    padding: 0;
}
.partner li{
    list-style: none;
    float: left;
}
.partner img{
    width: 110px;
}


.partner2 ul{
    padding: 0;
}
.partner2 li{
    list-style: none;
    float: right;
}
.partner2 img{
    width: 110px;
}


/*footer*/

.imgweather img{
    height: 25px !important;
}
h2 a:link, h2 a:visited, h2 a:active{
    color: #2e8dab;
}
h2 a:hover, h2 a:active{
      color: #000;
}
.accommodation-box-position {
    position: absolute;
    bottom: 0px;
    padding: 10px 0px;
    text-align: center;
    background: rgba(255,255,255,0.8);
    width: 100%;
    left: 0px;
}
.bg-social{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 10px 10px 10px;
    position: fixed;
    top:130px;
    right: 0px;
    background:rgba(238,238,238,0.9);
    z-index: 50;
}
.bg-social img{
    padding-top: 10px;
}
.admin{
    right: 70px !important;
}

.date-night {
	
	   -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2e8dab;
    
    background-origin: padding-box;
    background-position: right 2px top 2px;
    background-repeat: no-repeat;
    background-size: auto auto;
    border-bottom-color: -moz-use-text-color;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: -moz-use-text-color;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: -moz-use-text-color;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: -moz-use-text-color;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: medium;
    color: #ffffff;
    font-size: 12px;
    height: 26px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding-left: 5px;
    vertical-align: middle;
    white-space: nowrap;
    width: 80px;
}
.date-input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2e8dab;
    background-image: url("../images/carlendar.png");
    background-origin: padding-box;
    background-position: right 2px top 2px;
    background-repeat: no-repeat;
    background-size: auto auto;
    border-bottom-color: -moz-use-text-color;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: -moz-use-text-color;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: -moz-use-text-color;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: -moz-use-text-color;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: medium;
    color: #ffffff;
    font-size: 12px;
    height: 26px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding-left: 5px;
    vertical-align: middle;
    white-space: nowrap;
    width: 120px;
}
.book-now-onpromotion{
    background-color: #2e8dab;
    color: #ffffff !important;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    font-weight: 300;
    /*float: right;*/
}
.book-now-onpromotion a:link, .book-now-onpromotion a:hover, .book-now-onpromotion a:visited, .book-now-onpromotion a:active{
	color: #ffffff;
	}
.book-now {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2e8dab;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: -moz-use-text-color;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: -moz-use-text-color;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: -moz-use-text-color;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: -moz-use-text-color;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: medium;
    font-size: 16px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
}
.select-input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2e8dab;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: -moz-use-text-color;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: -moz-use-text-color;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: -moz-use-text-color;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: -moz-use-text-color;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: medium;
    font-size: 12px;
    height: 26px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding-left: 5px;
    vertical-align: middle;
    white-space: nowrap;
    width: 60px;
}
.text_reser {
    font-family: roboto,Verdana,Geneva,sans-serif;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 5px;
}
.no-bg {
    background-image: none !important;
   
    width: 100% !important;
    font-size:16px;
}
.navbar-header{
	background:#2e8dab;
	border:none;
	color:#fff;
}
.bg-white{
	background:url(../images/bg-scotch.png) bottom center repeat-x;
}
.bg-blue{
	background:url(../images/bg-blue.jpg) repeat;
}
.bg-gray{
    background: #e7e7e7;
}
section {
	/*padding:150px 0px;*/
}
.space-for-arrow{
	padding:40px 0 0 0;
	text-align:center;
}
.col-lg-4 img{
    width: 100%;
}
.social{
    text-align: center;
}
.space-for-footer{
    padding: 10px 0px;
    margin-top: 10px;
}
.space-for-footer p a:link{
	color:#555;
}
.space-for-header{
    padding: 20px 0 0 0 ;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.sister-hotel img{
    width: 115%;
    margin-top: 13px;
}
.space-for-sisterhotel{
    margin-top: 13px;
}
.map img{
    width: 100%;
}
.reservation{
    position: absolute; bottom: -44px; width: 100%;
}
.menu ul li {
    font-size: 13px;
    font-family: "roboto", Helvetica, Arial, sans-serif;
}
.menu ul li a:hover{
	font-weight:400;
	color:#DEDEDE;
} 
.logo{
        text-align: center;
    background: #fff;
    margin-bottom: 0px;
    padding-top: 23px;
    margin-top: 11px;
    padding-bottom: 18px;
    margin-top: -21px;
}

.logo img {
    width: 217px;
}

.menu a{
    text-decoration:none;
    margin:10px;
    float:left;
    text-align:center;
    white-space:nowrap;
    font-size: 13px;
    font-family: "roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.accommodation-img img{
    margin-bottom: 30px;
}


.menu ul {
    text-align: center;
    padding: 0;
}
.menu li {
    display: inline-block;
}
.space-for-promotion{
    margin-top: 60px;
}
.space-between-h2-and-p{
    padding-bottom:0px !important;
}
.space-for-img-thump{
    margin-bottom: 30px;
}

.partnerimg-b {
    /*width: 50%;*/
    margin: auto;
}
.partnerimg-b img {
    /*float: left;*/
    padding: 10px;
}

.partnerimg {
    width: 50%;
    margin: auto;
}
.partnerimg img {
    float: left;
    padding: 20px;
}


/**************************************/
/*language-box*/
/**************************************/

.language-box {
    height: 40px;
    /*border-left: 1px solid #f4f4f4;*/
    position: relative;
    z-index: 2;
}

.language-box ul {
    background: #fff;
    height: 40px;
    position: relative;
    z-index: 1;
    padding: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.language-box ul:hover {
    height: auto;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.language-box ul li {
    float: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
    border-bottom: 1px solid #f4f4f4;
    line-height: 25px;
    text-align: center;
}

.language-box ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;

}


.pre-header {
    font-size: 11px;
    /*background: #fff;*/
    height: 40px;
    position: relative;
    z-index: 1;
}
.pre-header ul, .pre-header p {
    padding-top: 8px;
}

.pre-header ul li {
    float: left;
    margin-right: 20px;
    list-style: none;
    color: #fff;
    text-transform: uppercase;
}
.pre-link-box {
    line-height: 25px;
}

.header-cotn{
    text-align: right;
    position: absolute;
    top: -6px;
    z-index: 9999;
}
/**************************************/
/*Accommodation (image hover effects)*/
/**************************************/


.column::after {
    content: '';
    clear: both;
    display: block;
}
.column div {
    position: relative;
    float: left;
    /*width: 100%;*/
    height: 350px;
    margin: 0 0 0 25px;
    padding: 0;
}
.column div:first-child {
    margin-left: 0;
}
figure {
    width: 100%;
    /*height: 350px;*/
    margin: 0;
    padding: 0;
    /*background: #fff;*/
    overflow: hidden;
}
figure img {
    width: 100%;
}



/* Zoom In #1 */
.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}





/*promotion-accom*/
.grid-accom{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    float: left;

}
.promotion-accom {
    background-color: rgba(255, 255, 255, 0.8);
    /*height: 200px;*/
    position: absolute;
    bottom: 0;
    width:100%;
    z-index: 1;
}

.detail-accom {
    padding: 25px;
    text-align: justify;
}

.content-p-accom{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    margin-top: 10px;
}
.content-p-accom h3 {
    color: #2E8DAB;
}
.content-p-accom h5 {
    color: #000;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 14px;
}
.photo-accom img{
    width: 100%;
    padding: 10px;

 }

/* End promotion-accom*/



/*content promotion*/
.promotion {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    position: absolute;
    top: 0;
    width: 460px;
    z-index: 1;
}
.promotion-two {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    position: absolute;
    top: 0;
    width: 460px;
    z-index: 1;
    right: 0;
}

.detail {
    padding: 50px;
    text-align: justify;
}

.content-p{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    margin-top: 10px;
}
.content-p p{
    color: #000;
}
.content-p h3{
     color: #2E8DAB;
 }
.content-p h5 {
    color: #000;
    text-align: right;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 14px;
}
.content-p h5:hover{
    color: #2E8DAB;
}


.accom-title {
    padding: 120px 20px 20px 20px;
    text-align: justify;
}
.accom-title h1{
    font-weight: 100 !important;
    font-family: "roboto", Helvetica, Arial, sans-serif!important;
    font-size: 38px!important;
    color: #000!important;

}
.accom-title h2 {
    font-weight: 400!important;
    font-size: 24px!important;
    color: #2e8dab!important;
    padding-bottom: 30px!important;
}


@media (max-width: 480px) {

    .detail {
        padding: 20px;
        text-align: justify;
    }

    .accom-title {
        padding:20px 20px 20px 20px !important;
        text-align: justify;
    }

    .accom-title h1{
        font-size: 24px !important;

    }
    .accom-title h2 {
        font-size: 18px !important;

    }
    .logo img {
        margin-top: 30px;
    }


}
/**************************************/
/* End Accommodation (image hover effects)*/
/**************************************/

/* -xs */

@media (max-width: 767px) {
    .bg-social{
        top:190px;
    }
    .col-lg-4 img{
        margin-bottom: 30px;
    }
    .social{
        margin-top: 30px;
    }
    .reservation img{
        width: 60%;
    }

    .partnerimg-b {
        width: 50%;
        margin: auto;
    }
}
/* -sm */
@media (min-width: 768px) and (max-width: 991px) {
    .social{
        margin-bottom: 30px;
    }
	.reservation img{
        width: 40%;
    }
}

@media (max-width: 768px){
    .space-for-header{
        position: inherit;
        z-index: inherit;
        width: 100%;
    }



    .content-p p{
        display: none;
    }
    .content-p h5{
        display: none;
    }
    .content-p h3{
        text-align: center;
    }
    .content-p h3:hover{
        color: #2E8DAB;
    }
    .header-cotn {
        width: 100%;
    }


}

/*content promotion*/
@media (max-width: 991px){
    .promotion {
        background-color: rgba(255, 255, 255, 0.8);
        height: 100%;
        position:absolute;
        top: 0;
        width:100%;
        z-index: 1;
    }
    .promotion-two {
        background-color: rgba(255, 255, 255, 0.8);
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        right: 0;
    }

    .grid-accom {
        width: 100%;
    }

    .promotion-accom {
        position: inherit;

    }
    .partnerimg {
        width: 50%;
        margin: auto;
    }




}
/* -md */
@media (min-width: 992px) and (max-width: 1199px) {
	.no-bg {
    margin-left: 5px;
    margin-right: 5px;
    width: 120px !important;
}
.text_reser {
    margin-left: 5px;
    margin-right: 3px;
}
}
/* -lg */
@media (min-width: 1200px) {

    .menu li a {
        color: #fff;

    }
    .menu a {
        margin-left: 3px;

    }
    .menu a {
        text-decoration: none;
        margin-top: 20px;
        float: left;
        text-align: center;
        white-space: nowrap;
        font-size: 14px;
        font-family: "roboto", Helvetica, Arial, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
    }
    .menu ul {
        text-align: right;
        padding: 0;
    }
    .menu li {
        display: inline-block;

    }


}

@media (max-width: 1200px) {
    .menu li a {
        color: #fff;

    }

    .accom-title {
        padding: 50px 20px 20px 20px;
        text-align: justify;
    }

    .partnerimg img {
        float: left;
        padding: 20px;
    }

    .partnerimg-b img {
        float: left;
        padding: 10px;
        width: 185px;
    }
    .pre-header{
        display: none;
    }

    .language-box ul{
        height: 40px;
        position: relative;
        z-index: 2;
        border: 1px solid  #2E8DAB;
    }




    .bg-social {
        top: 250px;

    }


}
@media (max-width: 1024px) {

}