@charset "UTF-8";
.list-group-item-heading li {
	line-height:10px;
	margin:0px !important;
    content: "• ";
    color: #e6c190; /* or whatever color you prefer */
}
.bg-gray{
	background:#e8e8e8;
}
.img-gray{
	float:left;
	width:18%;
	margin:2% 1% 2% 1%;
}
.img-gray img {
	border:8px solid #fff;
	width:100%;
}




.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}





.date-time{
	border:#b7bbbf solid 1px;
	float:right;
	margin-left:10px;
	height:60px;
	vertical-align:middle;
	padding:15px;
}
.date-time-weather{
	border:#b7bbbf solid 1px;
	float:right;
	margin-left:10px;
	height:60px;
	vertical-align:middle;
	padding:20px 15px 15px 15px;
}




.font-hight{
	color:#06C;}
.bg-blue {
	background:#56718b;
	border-bottom:#414042 5px solid;
}
.bg-user{
	background:url(../images/bg-user.png) top 5px left 10px no-repeat;
	padding-left:60px;
	border: 1px solid #ccc;
}
.bg-address{
	background:url(../images/bg-address.png) top 5px left 10px no-repeat;
	padding-left:60px;
	border: 1px solid #ccc;
	
}
.bg-telephone{
	background:url(../images/bg-telephone.png) top 5px left 10px no-repeat;
	padding-left:60px;
	border: 1px solid #ccc;
}
.bg-mail{
	background: url(../images/bg-mail.png)top 5px left 10px no-repeat;
	padding-left:60px;
	border: 1px solid #ccc;
}
.bg-fax{
	background:url(../images/bg-fax.png) top 5px left 10px no-repeat;
	padding-left:60px;
	border: 1px solid #ccc;
}
.bg-previous-order-number{
	background:url(../images/bg-previous-order-number.png) top 5px left 10px no-repeat;padding-left:60px;
	border: 1px solid #ccc;
}
.bg-carlendar{
	background: url(../images/bg-carlendar.png) top 5px left 10px no-repeat;
	padding-left:60px;
	border: 1px solid #ccc;
}
.bg-Message{
	background: url(../images/bg-Message.png) top 5px left 10px no-repeat;
	padding-left:60px;
	border: 1px solid #ccc;
}
.logo{
	text-align:left;
}

.book-now{
	width:250px;
	border:none;
	outline:none;
	font-size:16px;
	color:fff;
	padding:15px;
	border-radius:3px;
	white-space: nowrap;
	vertical-align: middle;
	background:#377cbe
}
.select-input{
	border:none;
	width:60px;
	height:26px;
	outline:none;
	font-size:12px;
	background:#000000;
	color:fff !important;
	padding-left:5px;
	border-radius:3px;
	white-space: nowrap;
  vertical-align: middle;
	}
.no-bg{
	background-image:none !important;
}
.bg-contant{
	position: relative;
    background: url(../images/bg-sky.jpg) top center repeat-x, 
                url(../images/bg-t.jpg) bottom center repeat-x;
	
				
	}
.bg-white{
	background:rgba(255,255,255,0.95);
	padding-top:0px;
	padding-bottom:40px;
	margin-bottom:0px;
	position:relative; 
	top:-70px; 
	z-index:3;
}
.bg-social{
	background:#296196;
	padding:15px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:30px;
}
.bg-brown {
	width:100%; 
	margin-top:20px; 
	color:#fff;
	background: url(../images/brown.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bg-brown p { color:#fff; }
.bg-brown hr { border-top:dashed 1px #fff;}


