@media screen and (max-width: 1440px) {
    .logo img{
        height: 75px;
    }

}

@media screen and (max-width: 1366px) {
    .menu a{
        font-size: 13px;
    }
}

@media screen and (max-width: 1280px) {
    .section1, .section3, .section4, .box-entity, .page_footer{
        padding: 50px 0;
    }
    .container{
        width: 100%;
        padding: 0 50px;
    }
    .box-section3{
        padding: 0 0 50px;
        display: inline-block;
        width: 100%;
    }
    .detail-box.accom{
        padding: 50px;
    }
    .images_contentchild{
        height: 350px;
    }
    .image_accommodation{
        height: 450px;
    }
    .logo img{
        width: 130px;
    }
    .menu ul li {
        padding: 5px 2px;
    }
}

@media screen and (max-width: 1200px) {
    .gallery{
        padding: 0;
    }
    .logo{
        display: block!important;
    }
    .menu ul{
        text-align: right;
    }
    .pre-header{
        display: block!important;
    }
}

@media screen and (max-width: 1199px) {
    .slide_offers .owl-dots{
        display: block;
        margin-top: 25px;
    }
    .bg-blue .container {
        padding: 0 30px;
    }
    .menu li a{
        font-size: 11px;
    }
}

@media screen and (max-width: 1110px) {
    .logo img {
        height: 70px;
    }
    .menu ul li{
        padding: 5px 1px;
    }
}

@media screen and (max-width: 1024px) {
    .detail-box.accom {
        padding: 50px;
    }

    .default_img {
        height: 500px !important;
    }

    .detail-box.accom {
        height: 500px;
    }

    .box-entity {
        padding: 50px;
    }

    .page_footer {
        padding: 50px;
    }

    .section1, .section3, .section4 {
        padding: 50px;
    }

    .box-section3 {
        padding: 0 0 50px;
    }

    #menu .box-menu .menu .content-menu {
        padding: 100px;
    }

    h1 {
        font-size: 30px;
    }

    .demo-gallery .col-xs-4 {
        width: 50%;
    }
    .box-reservation {
        padding: 100px!important;
    }
    .section1, .section3, .section4, .page_footer, .box-entity{
        padding: 50px 0;
    }
    .roomamenities li{
        width: 50%;
    }
    .images_contentchildoffers, .images_contentchild, .image_images {
        height: 300px;
    }
    .image_accommodation{
        height: 500px;
    }
    .roomamenities li {
        width: 33.3333%;
    }
    .container {
        padding: 0 30px;
    }
    .contentchild_accom {
        padding: 0 30px;
    }
    .row_contentchild {
        margin-right: -15px;
        margin-left: -15px;
    }
    .row_contentchild .col-xs-6{
        padding: 0 15px;
    }
    .menu li a{
        font-size: 10px;
    }
}


@media screen and (max-width: 991px) {
    .button-link.left {
        margin-left: 0;
    }
    .detail-box, .detail-box.accom {
        padding: 50px;
        height: auto;
    }
    .detail-box.no-bg{
        padding: 50px;
    }
    .detail-box.no-bg{
        height: auto;
    }
    .detail-box.no-bg {
        padding: 50px 0;
    }
    .section3 p {
        padding: 50px 0;
    }
    .page_footer .col-xs-4 {
        padding: 0;
    }
    h3{
        font-size: 20px;
    }
    .mobile{
        display: none;
    }
    .gallery {
        padding: 0 50px;
    }
    .text_slide{
        height: 200px;
    }
    .detail-box.no-bg {
        padding: 50px 0 0;
    }
    .gallery {
        padding: 0;
    }
    .section3 p {
        padding: 10px 0;
    }
    .section_copyright{
        margin-bottom: 50px;
    }
    .section_reservationmobile{
        z-index: 2;border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .col-xs-6{
        width: 100%;
    }
    .section_gallery .col-xs-3{
        width: 33.333%;
    }
    .menu{
        display: none;
    }
    .button_container{
        display: block;
    }
    .space-for-header{
        z-index: 4;
    }
    .space-for-header{
        height: 90px;
    }
    .nav_lang li:nth-last-child(1){
        padding-right: 0;
    }
    .space-for-header {
        height: 75px;
    }
    .logo img{
        width: 130px;
    }
    #maximage{
        height: 60vh!important;
        margin-top: 75px;
    }
    .space-for-header{
        background: #fff;
    }
    .index-video-wrapper{
        height: 60vh;
        margin-top: 75px;
    }
    .section_roomamenities li{
        width: 33.3333%;
    }
    .section_sister {
        text-align: center;
    }
    .sisterhotel {
        text-align: center;
        margin-top: 15px;
    }
    .sisterhotel img {
        height: 70px;
    }
    .logo img {
        height: 65px;
    }
}

@media screen and (max-width: 768px) {
    #menu {
        right: 0;
        background: none;
        height: auto;
        /* overflow: hidden; */
        padding: 0;
        z-index: 8;
    }
    .menu_active{
        height: 100vh!important;
    }
    .menu_active .hamburger-menu{
        height: 100vh;
    }

    #menu .booknow-mobile {
        height: auto;

        background: #c19500;
        padding: 38px 10px;
    }

    #menu .booknow-mobile .book-button {
        color: #fff;
        font-family: inherit;
    }

    #menu .booknow-mobile .book-button-text {
        color: #fff;
        font-family: inherit;
    }
    #nav-icon span{
        background: #2d2b28;
    }
    #nav-icon{
        left: 25px;
    }
    #menu{
        box-shadow: none;
    }
    #menu .box-menu .menu .content-menu {
        padding: 150px 25px 100px 25px;
    }

    #menu .box-menu{
        z-index: 7;
    }
    .reservation_box{
        display: none;
    }
    .box-reservation{
        display: none;
    }
    .book_onlinestore{
        position: absolute;
        top: 0;
        right: 120px;
    }
    #menu .booknow-mobile{
        height: 105px;
    }
    .hamburger-menu{
        background: transparent!important;
    }
    #nav-icon{
        top: 40px;
    }
    .open #nav-icon span{
        background: #fff;
    }
    #menu .box-menu {
        z-index: 11;
    }
    .open  span {
        background: #fff!important;
    }
    #menu img {
        padding: 0;
        width: auto;
        top: 0;
    }
    #menu .logo, #menu .hamburger-menu{
        border: none;
    }
    .text_slide {
        height: 200px;
        width: 100%;
        padding: 50px;
    }
    .gallery-title li{
        margin: 5px;
    }
    .copyright{
        padding: 25px 0;
    }
    #maximage, .index-video-wrapper{
        height: 40vh!important;
    }
    .space-for-header{
        position: fixed;
    }
    .container{
        padding: 0 25px;
    }
    .button_container{
        right: 25px;
    }
    .image_accommodation {
        height: 400px;
    }
    .details_accommodation{
        position: inherit;
        width: 100%;
        padding: 25px 0 50px 0;
        display: inline-block;
    }
    .details_facilities{
        position: inherit;
        width: 100%;
        padding: 25px 0 50px 0;
        display: inline-block;
    }
    .slide_facilities .owl-nav{
        bottom: 25px;
        left: auto;
        right: 25px;
    }
    .slide_accommodation .owl-nav{
        bottom: 25px;
        right: 25px;
    }
    .slide_photoinfo .owl-nav {
        bottom: 25px;
        right: 25px;
    }
    .contentchild_accom{
        padding: 0;
    }
    .row_contentchild {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-header{
        display: none!important;
    }
    #arrow_left {
        left: 25px;
    }
    #arrow_right {
        right: 25px;
    }
    .row_contentchild .col-xs-6{
        padding: 0;
    }
    .contentchild_accom{
        padding: 0 25px;
    }
    .btn_readmore{
        height: auto!important;
        padding: 10px 30px!important;
        opacity: 1!important;
    }
    .slide_accommodation .owl-nav, .slide_facilities .owl-nav{
        top: 300px;
        bottom: auto;
    }
}

@media screen and (max-width: 690px) {
    .default_img {
        height: 350px !important;
    }
}

@media screen and (max-width: 600px) {
    .box-entity {
        padding: 50px 25px;
    }
    .page_footer {
        padding: 50px 25px;
    }
    .section1, .section3, .section4 {
        padding: 50px 25px;
    }
    .detail-box, .detail-box.accom {
        padding: 50px 25px;
    }
    h1 {
        font-size: 30px;
    }
    .gallery {
        padding: 0 25px;
    }
    .demo-gallery .col-xs-4 {
        width: 100%;
    }
    .logo img{
        left: 85px!important;
        right: auto!important;
    }
    #menu img {
        left: 0!important;
        right: 0!important;
    }
    .section1, .section3, .section4, .page_footer, .box-entity{
        padding: 50px 0;
    }
    .container{
        padding: 0 25px;
    }
    .roomamenities li{
        width: 100%;
        padding: 10px 0;
    }
    .gallery-title li {
        margin: 5px;
        width: 100%;
        padding: 10px;
    }
    .padding10 {
        padding: 10px 0;
    }
    .gallery {
        margin-left: 0;
        margin-right: 0;
    }
    .gallery {
        padding: 0;
    }
    .slider_arrow{
        right: 10px;
    }
    .nav_lang li:nth-child(1), .nav_lang li:nth-child(2){
        display: none;
    }
    .nav_lang li{
        padding: 5px 5px 0;
        font-size: 12px;
    }
    .logo img{
        margin: 0!important;
    }
    .logo{
        padding: 0;
    }
    .images_contentchildoffers, .images_contentchild, .image_images, .image_accommodation, .google_map iframe {
        height: 250px;
    }
    .section_copyright{
        font-size: 14px;
    }
    .section_gallery .col-xs-3 {
        width: 50%;
    }
    .roomamenities li {
        width: 50%;
    }
    #maximage{
        height: 30vh!important;
    }
    .roomamenities li {
        width: 100%;
        text-align: left;
    }
    .section_roomamenities{
        padding: 0;
    }
    .nav_lang ul{
        margin: 20px 50px 0 0;
        padding: 0;
    }
    .button_container{
        top: 25px;
    }
    .slide_accommodation .owl-nav, .slide_facilities .owl-nav {
        top: 175px;
        bottom: auto;
    }
    .section_roomamenities li{
        width: 100%;
        padding: 10px 0;
    }
    .text_info td{
        padding: 5px 3px;
    }
    .text_info table{
        font-size: 10px;
    }
}

@media screen and (max-width: 360px) {
    .book_onlinestore{
        right: 90px;
    }
    #menu .booknow-mobile .book-button{
        font-size: 14px;
    }
    #menu .booknow-mobile .book-button-text{
        font-size: 14px;
    }
    #menu .booknow-mobile {
        width: 90px;
    }
    #nav-icon {
        left: 15px;
    }
    .logo img{
        left: 75px!important;
    }
    #nav-icon {
        left: 25px;
    }
    .page_footer .social a{
        width: 40px;
        height: 40px;
    }
    .text_slide {
        height: 100px;
        width: 100%;
        padding: 50px 25px;
    }
    #menu .box-menu .menu .content-menu ul li{
        padding: 10px;
    }
    .nav_lang li:nth-child(2){
        display: none;
    }
    .roomamenities li {
        width: 100%;
    }


}