@font-face {
    font-family: 'Poppins';
    src: url('../../asset_thenaturephuket/font/poppins-regular-webfont.woff2') format('woff2'),
    url('../../asset_thenaturephuket/font/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir';
    src: url('../../asset_thenaturephuket/font/Avenir-Roman.woff2') format('woff2'),
    url('../../asset_thenaturephuket/font/Avenir-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'linguistics_proregular';
    src: url('../../asset_thenaturephuket/font/linguisticspro-regular-webfont.woff2') format('woff2'),
    url('../../asset_thenaturephuket/font/linguisticspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'CenturyGothic';
    src: url('../../asset_thenaturephuket/font/CenturyGothic-regular.woff2') format('woff2'),
    url('../../asset_thenaturephuket/font/CenturyGothic-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #686868;
    letter-spacing: initial;
    line-height: 1.75;
    overflow-x: hidden;
    background: #fdfcfc;
    font-family: 'CenturyGothic', 'sans-serif';
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input, select, button, a {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    transition: all 0.5s;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: normal;
    font-family: 'linguistics_proregular', 'sans-serif';
    letter-spacing: inherit;
    text-transform: none!important;
    color: #000;
}
a{
    font-weight: normal;
}
h1{
    font-size: 36px;
    line-height: 1.175!important;
    /*text-transform: uppercase!important;*/
}
h3{
    text-transform: uppercase!important;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 1.5!important;
}

p {
    letter-spacing: normal;
    line-height: 1.75;
    font-size: inherit;
    color: inherit;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    line-height: inherit;
    margin: 0;
    padding: 0;
}
button{
    outline: none;
}
.container, .col-xs-6, .col-xs-3, .col-xs-2, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
}
.row{
    margin: 0;
}
.menu a, .text_reser, .accom-title h1, .widget_02 .btnbook_reser{
    font-family: 'CenturyGothic', 'sans-serif'!important;
}
.section_arrow_slide{
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
    height: 40px;
}
.section_arrow_slide img{
    width: 40px;
    opacity: 0.2;
    transition: all 0.5s;
}
.section_arrow_slide img:hover{
    opacity: 1;
    margin: 0 10px;
}
#arrow_right{
    right: 50px;
    position: absolute;
}
#arrow_left{
    left: 50px;
    position: absolute;
}
.section_slideshow{
    position: relative;
}
/*#maximage{*/
    /*height: 85vh!important;*/
/*}*/
.reservation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 84px;
    background: #fff;
}
.reservation{
    position: inherit;
    bottom: 0;
}
.widget_02{
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: 10px 0;
}
.widget_02 .btnbook_reser{
    margin: 0;
    width: 100%!important;
    background: #000;
    height: 84px;
    text-transform: uppercase;
}
.header-cotn{
    position: inherit;
}
.space-for-header{
    padding: 0;
    margin: 0;
}
.menu ul{
    margin: 0;
}
.menu{
    float: right;
}
.menu li a{
    margin: 0;
    padding: 0;
    color: #000;
}
.menu ul li{
    padding: 0 5px;
}
.pre-link-box {
    line-height: inherit;
    padding: 10px;
    margin: 0;
    display: inline-block;
    width: 100%;
}
.imgweather img {
    height: 25px !important;
    position: absolute;
    left: -35px;
    top: -5px;
}
.pre-header ul li {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #000;
    text-transform: none;
    position: relative;
}
.pre-header{
    font-size: 14px;
}
.logo{
    position: absolute;
    top: 0;
    width: auto;
    background: none;
    padding: 0 10px;
    margin: 0;
    background: #fff;
}
.menu ul li a:hover{
    color: #333;
}
.section_description{
    padding: 50px 0;
    text-align: center;
}
.image_images {
    width: 100%;
    height: 250px;
    background-size: cover !important;
    position: relative;
    float: left;
    background-position: center!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
}
.section_offers{
    text-align: center;
    padding-bottom: 50px;
}
.slide_offers .owl-nav, .slide_offers .owl-dots{
    display: none;
}
.box_offers h2{
    color: #fff;
}
.book_offers{
    background: #fff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.book_offers:hover{
    color: #fff;
}
.content-p{
    margin: 0;
}
.image_accommodation{
    height: 600px;
    display: inline-block;
}
.slide_accommodation .owl-dots{
    display: none;
}
.details_accommodation{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    text-align: center;
    z-index: 2;
}
.owl-theme .owl-nav [class*=owl-]{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0;
    margin: 0;
    padding: 15px 0;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
}
.owl-carousel .owl-nav .owl-prev{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.slide_accommodation .owl-nav{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.slide_accommodation .item .image_accommodation{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.slide_accommodation .item:hover .image_accommodation{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.details_facilities{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    text-align: center;
    right: 0;
    z-index: 2;
}
.slide_facilities .owl-nav{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.slide_facilities .item .image_accommodation{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.slide_facilities .item:hover .image_accommodation{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.slide_facilities .owl-dots{
    display: none;
}
.space-for-footer{
    padding: 25px 0;
    margin-top: 0;
}
.section_copyright{
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}
.section_copyright p{
    margin: 0;
    color: #fff;
}
.section_copyright a{
    color: inherit;
}
input[type="button"]{
    width: auto!important;
    margin: 0;
    font-family: 'Poppins', 'sans-serif'!important;
    text-transform: none;
    letter-spacing: inherit;
}
.section_social{
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 180px;
    z-index: 3;
}
.bg-social{
    position: inherit;
    top: auto;
}
.logo img{
    width: auto!important;
    padding: 5px 0 0;
    height: 80px;
}
.section_titlecontentchild{
    padding: 50px 0;
    text-align: center;
}
.section_contentchild{
    padding: 0;
    text-align: center;
}
.row_contentchild .col-xs-6{
    padding: 0 25px;
    margin-bottom: 50px;
}
.row_contentchild{
    margin-right: -25px;
    margin-left: -25px;
}
/*.row_contentchild .col-xs-6:nth-last-child(1){*/
    /*margin-bottom: 0;*/
/*}*/
.images_contentchild{
    height: 450px;
    background-size: cover!important;
}
.btn_booknow{
    padding: 15px 30px;
    border: none;
    width: 100%;
    color: #fff;
    transition: all 0.5s;
}
.btn_booknow:hover{
    background: #242424!important;
}
.details_contentchild{
    padding: 25px 0 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.details_contentchild p{
    margin-top: 0;
}
.menu .active{
    color: #242424;
}
.contentchild_accom{
    padding: 0 50px;
}
.images_contentchild{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.images_contentchild:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.box_images{
    overflow: hidden;
}
.section_gallery{
    text-align: left;
}
.accommodation-img img{
    margin: 0;
}
.section_gallery .col-xs-3{
    padding: 10px;
}
.row_gallery{
    margin-left: -10px;
    margin-right: -10px;
}
.google_map{
    /*margin-top: 50px;*/
    margin-bottom: -11px;
}
.reservation_boxtitle{
    cursor: pointer;
    position: absolute;
    bottom: 120px;
    z-index: 1;
    background: none;
}
.section_titleinfo{
    padding: 50px 0;
    text-align: center;
}

.box_offers h2{
    font-size: 30px;
}
.details_offers{
    padding: 0 25px;
    position: absolute;
    width: 100%;
}
.box_offers p{
    padding: 0;
    margin: 0;
    color: #fff;
}
.overlay_offers{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.5s;
}
.slide_offers .item:hover .overlay_offers{
    opacity: 1;
}
.images_contentchildoffers{
    height: 350px;
}
 .nav_lang #lang_primary{
    cursor: pointer;
}
 /*.nav_lang #lang_primary:hover span,*/
 /*.nav_lang #lang_primary:hover i{*/
    /*color: #f54a2f;*/
/*}*/
 .nav_lang .lang_parent{
    position: absolute;
    background-color:#fff;
    padding: 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 11px 10px;
    display: none;
     z-index: 2;
}
.nav_lang .lang_parent.active{
    display: block;
}
.nav_lang .lang_parent li{
    display: block;
    padding: 0;
    text-align: left;
}
.nav_lang .lang_parent li a:hover{
    color:#9a774e;
}
.nav_lang li{
    float: left;
    list-style: none;
    padding: 10px 10px 0;
    color: #000;
}
.nav_lang li:nth-last-child(1){
    padding-right: 0;
}
.nav_lang ul{
    display: inline-block;
    text-align: right;
    margin: 0;
}
.nav_lang{
    font-size: 14px;
}
.pre-header ul, .pre-header p{
    padding: 0;
}
.pre-header{
    height: auto;
}
.lang_parent li{
    color: #000;
    width: 100%;
    float: none;
}
.section_sitemapmain{
    margin-top: 50px;
    text-align: left;
}
.section_sitemapmain li{
    padding: 5px;
}
.button_container{
    display: none;
    top: 40px;
}
.bg-social ul{
    margin: 0;
    padding: 0;
}
.bg-social li{
    list-style: none;
    margin-bottom: 10px;
}
.bg-social{
    text-align: center;
    padding: 10px;
}
.bg-social i{
    background: #000;
    padding: 12px 0;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.5s;
}
.bg-social li:nth-last-child(1){
    margin: 0;
}
.bg-social i:hover{
    background: #242424!important;
}
.nav_lang a:hover{
    color: #242424;
}
.section_titlecontentchild table{
    text-align: left;
    width: 100%;
    margin: 25px 0;
}
.section_titlecontentchild td{
    width: 50%;
    padding: 10px;
}
.section_titlecontentchild tr:nth-child(1){
    background: #eee;
}
.section_titlecontentchild tr:nth-child(3){
    background: #eee;
}
.section_titlecontentchild tr:nth-child(5){
    background: #eee;
}
.section_titlecontentchild tr:nth-child(7){
    background: #eee;
}
.section_titlecontentchild tr:nth-child(9){
    background: #eee;
}
.content_location{
    text-align: left;
}
.google_map img{
    width: 100%;
}
.section_roomamenities{
    /*margin: 50px 0;*/
    display: inline-block;
    width: 100%;
    /*background: #f5f5f5;*/
    /*padding: 50px;*/
}
.section_roomamenities ul{
    padding: 0;
    margin: 0;
}
.section_roomamenities li{
    list-style: none;
    width: 25%;
    float: left;
    padding: 10px;
}
.section_roomamenities img{
    width: 40px;
}
.section_roomamenities p{
    margin: 0;
}
.btn_readmore{
    width: auto!important;
}
.space-for-header{
    background: rgba(255, 255, 255, 0.9);
}
.scroll_menu{
    background: #fff;
}

.button_container span{
    height: 2px;
}
.button_container span:nth-of-type(2) {
    top: 7px;
}
.button_container span:nth-of-type(3) {
    top: 14px;
}
.button_container{
    right: 30px;
}
.button_container.active .top{
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    transform: translateY(7px) translateX(0) rotate(45deg);
}
.button_container.active .bottom{
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    transform: translateY(-7px) translateX(0) rotate(-45deg);
}
.description{
    text-transform: capitalize;
}
.widget_02 p{
    color: #afafaf;
}
.box_accommodation h3{
    margin-bottom: 25px;
}
.details_accommodation h1{
    font-size: 30px;
    line-height: 1.5!important;
}
.box_accommodation .btn_readmore{
    opacity: 0;
    background: #000;
    padding: 0;
    border: none;
    color: #fff;
    height: 0;
}
.details_accommodation h3, .details_facilities h3{
    font-size: 14px;
}
.btn_readmore:hover{
    background: #242424!important;
}
.box_accommodation:hover .btn_readmore{
    opacity: 1;
    height: auto;
    padding: 15px 30px;
}
.overlay ul li a{
    opacity: 0.5;
}
.overlay-menu .active a{
    opacity: 1;
}
.button_container.active .bottom, .button_container.active .top{
    background: #fff!important;
}
.lang_parent li:nth-child(1), .lang_parent li:nth-child(2){
    display: block!important;
}
.slide_photoinfo .owl-nav{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.slide_photoinfo .owl-dots{
    display: none;
}
.menu .active, .menu ul li a:hover{
    color: #a0a0a0;
}
.section_photoinfo .item{
    overflow: hidden;
}
.modal select{
    color: inherit!important;
}
.section_sitemapmain li{
    list-style: none;
}
.section_sitemapmain .sub_menusitemap li{
   list-style: disc;
}
.overlay ul li{
    padding: 5px;
}
.overlay.open li:nth-of-type(9) {
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}
.overlay.open li:nth-of-type(10) {
    -webkit-animation-delay: .80s;
    animation-delay: .80s;
}
.text_info{
    text-align: left;
}
.text_info table{
    text-align: left;
    width: 100%;
    margin: 25px 0;
}
.text_info td{
    /*width: 50%;*/
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
.text_info tr:nth-child(1){
    background: #eee;
    text-align: left;
}
.text_info tr:nth-child(3){
    background: #eee;
}
.text_info tr:nth-child(5){
    background: #eee;
}
.text_info tr:nth-child(7){
    background: #eee;
}
.text_info tr:nth-child(9){
    background: #eee;
}

.section_sister{
    padding: 25px 0;
    background-color: #eee;
}
.section_sister .tripads img{
    width: 150px;
    margin-bottom: 15px;
}
.section_sister .tripads li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.section_sister .tripads ul{
    padding: 0;
    margin: 0;
}
.section_sister{
    text-align: center;
}
.sisterhotel{
    text-align: center;
}
.sisterhotel img{
    height: 95px;
    margin-bottom: 15px;
}
.bg-blue .container{
    width: 100%;
    padding: 0 50px;
}
.section_gallery video{
    width: 100%;
    height: auto;
}