
select {
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    appearance: inherit;
    list-style: none;
}

.night_none {
    display: none;
}

.book-slider .col-xs-3, .book-slider .col-xs-9 {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.book-slider input, .book-slider select, .reservation_box.info-ibe input,
.reservation_box.info-ibe select {
    height: auto !important;
}

.book-slider .col-xs-3 h3, .quick-reservation .col-xs-3 h3 {
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 0;
    text-transform: uppercase;

}

.book-slider .col-xs-3 .online {
    position: relative;
    width: 100%;
    background: #285552;
    height: 100px;
}

.book-slider .col-xs-3 .online .reservation,
.quick-reservation .col-xs-3 .online .reservation {
    position: relative;
    padding: 25px 30px;
    width: 100%;
    height: 100%;
}

.reservation_box.info-ibe {
    background: none !important;
}

.reservation_box.info-ibe [class*="col-"] {
    padding-top: 0;
    padding-bottom: 0px;
}

.content_ibe label {
    margin-top: 0 !important;
}

.reservation_box .col-xs-3 img {
    width: 100%;
    height: 100px;
}

.reservation_box ul {
    margin: 0;
    padding: 0 10px !important;
    display: inline-block;
    width: 100%;
    color: #757575;
    bottom: -50px;
}

.reservation_box li {
    list-style: none;
    float: left;
    width: 50%;
}

.reservation_box .input_night {
    position: absolute;
    width: 50px;
    bottom: 5px;
    left: -25px;
    z-index: 0;
    border-right: 1px solid #268cab;
    border-left: 1px solid #268cab;
    background: #268cab;
    color: #fff;
}

.reservation_box .input_night.info-night {
    background: #264442 !important;
    bottom: 9px;
}

.reservation_box .popup_content {
    position: absolute;
    background: #fff;
    width: 250px;
    margin: 20px 0;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow: auto;
}

.reservation_box.info-ibe .popup_content select {
    border: 1px solid #264442 !important;
    color: #264442 !important;
}

.reservation_box #numberrroomRow:before {
    content: "\f0de";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: -12px;
    font-size: 50px;
    color: #fff;
    left: 10px;
}

.reservation_box .content_ibe {
    padding: 5px 10px;
    position: relative;
}

.reservation_box .content_reservation {
    padding: 5px;
    position: relative;
}

.reservation_box input {
    width: 100%;
    padding: 8px;
    border-radius: 0;
    background: #fff;
    border: 1px solid #afafaf;
    color: #268cab;
    cursor: pointer;
    font-size: 12px;

}

.reservation_box.info-ibe input,
.reservation_box.info-ibe select {
    border: 1px solid #fff !important;
    color: #268cab !important;
}

.reservation_box input::placeholder {
    color: #268cab !important;
    font-size: 12px;
}

.reservation_box.info-ibe input::placeholder {
    color: #268cab !important;
    font-size: 12px;
}

.reservation_box select {
    width: 100%;
    padding: 8px;
    border-radius: 0;
    background: #fff;
    color: #268cab;
    border: 1px solid #afafaf !important;
    z-index: 2;
    position: relative;
    cursor: pointer;
    font-size: 12px;

}

.reservation-check select {
    color: #268cab;
}

.reservation_box .text_reser {
    color: #268cab;
    margin-bottom: 5px;
    width: 100%;
    text-transform: uppercase;
    font-style: normal;
    font-size: 12px;
    text-align: left;

}

.reservation_box .input_inout {
    text-align: left;
}

.reservation_box .form-group {
    display: inline-block;
    padding: 10px !important;
    margin: 0;
}

.reservation_box .arrow {
    position: absolute;
    bottom: 10px;
    right: 8px;
    z-index: 4;
    font-size: 14px;
}

.reservation_box .arrow_down {
    position: absolute;
    bottom: 15px;
    right: 12px;
    z-index: 4;
}

.reservation_box .arrow_index {
    position: absolute;
    bottom: 14px;
    right: 20px;
    z-index: 4;
    font-size: 14px;
}

.reservation_box .arrow_index:before {
    color: #268cab !important;
}

.reservation_box .arrow_index.info-arrow:before {
    color: #fff !important;
}

.reservation_box .arrow_index_ {
    position: absolute;
    bottom: 15px;
    right: 12px;
}

.reservation_box .arrow_check {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.reservation_box .arrow_moon {
    left: 5px;
    z-index: 3;
    bottom: 14px;
    font-size: 14px;
}

.reservation_box .arrow_moon.info-check {
    bottom: 22px !important;
}

.reservation_box .arrow_moon:before {
    color: #fff !important;
}

.reservation_box .popup_content label {
    padding: 10px;
    color: #1e8bad;
    text-transform: uppercase;
    font-style: normal;
    font-size: 12px;
    width: auto !important;
}

.reservation_box .popup_content #ageRow1 label {
    color: #808080;
}

.reservation_box .popup_content #ageRow2 {
    color: #808080;
}

.reservation_box .popup_content #ageRow3 {
    color: #808080;
}

.reservation_box .popup_content .form_group_half {
    width: 100%;
    float: left;
    position: relative;
}

.reservation_box .popup_content #numberrroomRow {
    background: #fff;
    /*border-bottom: 1px solid #eee;*/
    /*border-top: 1px solid #eee;*/
}

.reservation_box .popup_content #numberOfRoom1 {
    position: absolute;
    right: 0;

}

.reservation_box .popup_content #numberOfRoom2 {
    position: absolute;
    right: 0;
}

.reservation_box .popup_content #numberOfRoom3 {
    position: absolute;
    right: 0;
}

.reservation_box .input-group-addon:first-child {
    background: #fff;
    padding: 5px;
    border: 1px solid #c3c3c3;
    font-size: 14px;
    border-right: none;
    color: #858585;
    border-radius: unset;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}

.reservation_box .btnbook_reser {
    background: #268cab;
    color: #fff;
    text-transform: uppercase;
    padding: 54px 10px;
    transition: all 0.5s;
    border: none;
    font-size: 14px;
    border-radius: 0;
}

.reservation_box .btnbook_reser:hover {
    background: #3870aa;
    color: #fff;
}

#ui-datepicker-div:before {
    content: "\f0de";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: -12px;
    font-size: 50px;
    color: #fff;
    left: 10px;
}

/*Horizontal_box*/
.box_horizontal {
    position: relative;
    left: 0;
    right: 0;
    bottom: 200px;
    width: 100%;
    top: 0;
    height: 75px;
}

.box_horizontal.booking2 {
    bottom: 0 !important;
    height: auto !important;
}

.box_horizontal ul {
    width: 100%;
}

.box_horizontal li {
    width: 20%;
}

.box_horizontal .btnbook_reser {
    padding: 6px;
}

.box_horizontal .input_inout {
    text-align: center;
}

.popupTop {
    bottom: 50px;
    top: inherit;
}

.popupTop #numberrroomRow:before {
    top: inherit;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    bottom: -15px;
}

.popupTop #ui-datepicker-div:before {

}

/*-----------------------------------------------------------------------------------*/
/*  Reservation
/*-----------------------------------------------------------------------------------*/
.reservation-row {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 10;
    bottom: 0px;
    height: 117px;
}

.ibe-widget {
    border-radius: 10px;
    background: #fff;
    display: inline-block;
    padding: 50px 0;
    margin-bottom: 0 !important;
    width: 100%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.reservation-row h1 {
    float: left;
    font-size: 18px;
    padding: 0px 20px;
    margin-top: 17px;
    text-align: left;
    line-height: 15px;
    letter-spacing: 1px;
}

.reservation-box {
    height: 45px;
    background: #ffffff;
}

.popup_content .col-sm-6 {
    padding: 0 !important;

}
.col-lg-12 {
    padding-right: 20px;
    padding-left: 20px;
}
/*-------------------------------------*/
/* SECTION BOOKING*/
/*-------------------------------------*/
.section_booking, .section_booking2 {
    width: 100%;
    position: fixed;
    /*z-index: 99;*/
    display: none;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 9999;

}

.section_booking ul, .section_booking2 ul {
    padding: 0;
}

.section_booking li, .section_booking2 li {
    list-style: none;
    float: left;
}

.section_booking .tel, .section_booking2 .tel {
    background: #00bba6;
    width: 50%;
    height: 50px;
    text-align: center;
}

.section_booking .tel a, .section_booking2 .tel a {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    top: 18px;
    position: relative;
    transition: all .15s;
}

.section_booking .tel a:hover, .section_booking2 .tel a:hover {
    transition: all .15s;
    letter-spacing: 0.2em;
}

.section_booking .tel:before, .section_booking2 .tel:before {
    position: absolute;
    content: "\f095";
    font-family: FontAwesome;
    font-size: 18px;
    color: #fff;
    margin-left: -25px;
    margin-top: 18px;
}

.section_booking .book, .section_booking2 .book {
    background: #414141;
    width: 50%;
    height: 50px;
    text-align: center;
}

.section_booking .book a, .section_booking2 .book a {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    top: 18px;
    position: relative;
    transition: all .15s;
}

.section_booking .book:before, .section_booking2 .book:before {
    position: absolute;
    content: "\f073";
    font-family: FontAwesome;
    font-size: 15px;
    color: #fff;
    margin-left: -25px;
    margin-top: 18px;
}

.section_booking .book a:hover, .section_booking2 .book a:hover {
    transition: all .15s;
    letter-spacing: 0.2em;
}

.from_booking {
    position: absolute;
    right: 475px;
    top: 75px;
    /* left: 0; */
    /* right: 0; */
    margin: auto;
}

h2.lined-heading span {
    font-size: 24px;
    margin-top: 20px;
}

.modal-booking {
    position: absolute;
    width: 100%;
    padding: 50px 0;
}

/*---- POPUP ROOMS ----*/
.tooltip_room {
    position: absolute;
    top: -60px;
    background-color: #268cab;
    width: 185px;
    padding: 15px;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation: wobble 2s infinite;
    display: none;
}

.tooltip_room h4 {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

.tooltip_room:after {
    position: absolute;
    left: 10px;
    bottom: -10px;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #268cab;
    display: block;
    z-index: 2;
}

.panel {
    display: none;
}

.panel #reservation-form .reservation-horizontal {
    animation-name: fadeInRight;
    animation-duration: 0.9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease;
    list-style: none;

}

.mobile-contact {
    display: none;
}

.resbtn-call, .resbtn-mail {
    bottom: 0;
    z-index: 99;
    padding: 3px 40px;
    font-size: 24px;
    background: #fff;
    width: 50%;

    margin: 0;
    text-align: center;
}

/*-------------------------------------*/
/* BOOKING 2 */
/*-------------------------------------*/
.reservation_box.booking2 {
    background: none;
}

.reservation_box .text_reser.reser {
    color: #fff;
}

.book2 input {
    background: #fff;
}

.book2 select {
    background: #fff;
}

.reservation_box .input_night.night {
    bottom: 9px;
}

.reservation_box .arrow_moon.moon {
    bottom: 22px;
}

.reservation_box .popup_content.no-bg select {
    background: none;
}
.case {
    position: relative;
}
.case .col-xs-6{
    margin-bottom: 30px;
}
/*-------------------------------------*/
/* RESPONSIVE */
/*-------------------------------------*/
@media (max-width: 1200px) {
    .reservation_box .text_reser {
        font-size: 10px;
    }

    .reservation_box.info-ibe .text_reser {
        font-size: 9px;
    }

    .section_booking2 {
        display: block !important;
    }

}
@media (max-width: 768px) {
    .case .col-xs-6{
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .accommodation-img .col-xs-5 {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .grid-accom {
        padding: 20px;
    }
    .reservation_box .text_reser {
        font-size: 9px;
    }

    .reservation_box .input_night {
        width: 50px;
    }

    .reservation_box .arrow_moon, .reservation_box .arrow_index {
        font-size: 12px;
        bottom: 24px;
    }

    .mobile-contact {
        display: block;
    }

    .book-slider {
        display: none;
    }

    .section_booking {
        display: block;
    }
    .marginT150 {
        margin-top: 70px;
    }

}
