html,body{
    width: 100%;
    height: 100%;
}
#index-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    bottom: 0;
    background-size: cover;
    overflow: hidden;
}

.index-video-wrapper {
    height: 100vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}