
body{
    background: #353535;
    padding: 0;
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {

}


body {
    background: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #acabaa;
}

h1{
    font-weight: normal;
}
p{
    font-weight: normal;
}

.section_menu {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
    background: rgba(36, 36, 36, 0.7);
    color: #fff;
    transition: all 0.5s;
}

.section_menu ul {
    width: 100%;
    margin: auto;
    float: none;
}

.nav > li > a {
    padding: 10px 20px;
    line-height: 60px;
    transition: all 0.5s;
}

a {
    color: inherit;
}

.nav .active {
    color: #c9a16e;
}

.brand_logo {
    background-image: url('../../assets/images/logo.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    transition: all 0.5s;
    margin: 15px 0;
}

.section_page {
    padding: 100px 0;
    text-align: center;
}

h1 {
    /*text-transform: uppercase;*/
    /*margin: 0;*/
    /*color: #242424;*/
}
.section_page span{
    color: #c9a16e;
}
.text_slide {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    top: 0;
    height: 170px;
    margin: auto;
    padding: 0 25px;
}

.text_slide h1 {
    margin: 0;
    color: #fff;
    letter-spacing: 2px;
}

.text_slide p {
    margin: 0;
    letter-spacing: 2px;
    font-size: 20px;
}

.text_slide ul {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

.text_slide ul li {
    animation-name: fadeInUp;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    margin: 0;
    list-style: none;
}

.text_slide li:nth-child(1) {
    animation-delay: 0.5s;
}

.text_slide li:nth-child(2) {
    animation-delay: 0.6s;
}
.btn_download{
    padding: 15px;
    /* text-transform: uppercase; */
    border: none;
    background: #caa366;
    color: #fff;
    transition: all 0.5s;
}
.btn_download:hover{
    background: #242424;

}
.scroll_menu{
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.09) 0 0 10px;
    background: #fff;
}
.nav > li > a:hover{
    color: #caa366;
}
.navbar-brand{
    position: relative;
    z-index: 9;
}
.btn_book{
    background: #caa26b;
}
.btn_book a:hover{
    color: #fff!important;
}
.slideshow{
    position: relative;
}
.slideshow .overlay_slide {
    width: 100%;
    z-index: 3;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}
.slideshow .text_title{
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 200px;
}
.text_title img{
    margin-bottom: 20px;
}
.text_title p{
    color: #fff;
}
.text_title a{
    text-decoration: none;
    color: #57acdf;
}
.btn_widget{
    padding: 10px 30px;
    background: #fff;
    border: none;
    color: #57acdf;
    transition: all 0.5s;
}
.btn_widget:hover{
    color: #fff;
    background: #57acdf;
}
footer{
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*padding: 50px;*/
    /*z-index: 1;*/
}
footer p{
    color: #fff;
}
select {
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    appearance: inherit;
    list-style: none;
}
.popupTop {
    bottom: 50px;
    top: inherit;
}
.popupTop #numberrroomRow:before {
    top: inherit;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    bottom: -15px;
}
.popupTop #ui-datepicker-div:before{

}
.tooltip_room{
    position: absolute;
    top: -55px;
    background-color: #FFF;
    width: 170px;
    padding: 15px;
    z-index: 999;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation: wobble 2s infinite;
    display: none;
}
.tooltip_room h4{
    color: #43a8e6!important;
    font-size: 16px;
    text-transform: none!important;
    margin: 0;
    font-weight: normal;
}
.tooltip_room:after{
    position: absolute;
    left: 10px;
    bottom: -10px;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFF;
    display: block;
    z-index: 2;
}
::placeholder{
    color: inherit;
}
.nav_mobile {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    /*text-transform: uppercase;*/
}

.button_container {
    position: fixed;
    top: 30px;
    right: 50px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}
.button_container:hover {
    opacity: 1;
}
.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff;
}
.button_container.active .middle {
    opacity: 0;
    background: #fff;
}
.button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #fff;
}
.button_container span {
    background: #ffff;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
}
.button_container span:nth-of-type(2) {
    top: 11px;
}
.button_container span:nth-of-type(3) {
    top: 22px;
}

.overlay {
    position: fixed;
    background: rgba(36, 36, 36, 0.95);
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    overflow: hidden;
    z-index: 9;
}
.overlay.open {
    opacity: 1;
    visibility: visible;
    width: 100%;
}
.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .40s;
    animation-delay: .40s;
}
.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}
.overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}
.overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: .60s;
    animation-delay: .60s;
}
.overlay.open li:nth-of-type(7) {
    -webkit-animation-delay: .65s;
    animation-delay: .65s;
}
.overlay.open li:nth-of-type(8) {
    -webkit-animation-delay: .70s;
    animation-delay: .70s;
}


.overlay nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    height: 25%;
    position: relative;
    padding: 10px;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s;
}
.overlay ul li a:hover {
    color: #cba461;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
.nav_mobile .overlay-menu .active {
    color: #cba461;
}

footer h1{
    color: #fff;
    font-size: 30px;
}
.section_reservationmobile {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}
.section_reservationmobile .col-xs-8{
    background: #cba461;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
}
.section_reservationmobile .col-xs-2{
    background: #242424;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
}
.nav .active:hover{
    color: #fff!important;
}
.image_closeup {
    width: 100%;
    height: 500px;
    background-size: cover !important;
    overflow: hidden;
    /* position: absolute; */
    float: right;
    transition: all 0.5s;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
}
.section_page2{
    padding: 0 0 100px 0;
    display: inline-block;
    width: 100%;
}
.details{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row_accom{
    /*display: inline-block;*/
    /*width: 100%;*/
    /*padding-bottom: 100px;*/
}
.section_contect{
    position: absolute;
    bottom: 130px;
    width: 100%;
    z-index: 1;
    color: #fff;
}
.section_contect i {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px 0 0;
}
.float_right{
    float: right;
}
.details span{
    color: #cba461;
}
.section_arrow_slide{
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
    height: 40px;
}
.section_arrow_slide img{
    width: 40px;
    opacity: 0.2;
    transition: all 0.5s;
}
.section_arrow_slide img:hover{
    opacity: 1;
    margin: 0 10px;
}
#arrow_right{
    right: 50px;
    position: absolute;
}
#arrow_left{
    left: 50px;
    position: absolute;
}

.social i{
    padding: 15px 0;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: all 0.5s;
    background: none;
    border: 1px solid #fff;
    margin: 0 10px;
}
.social i:hover{
    background: #caa26b;
    border: 1px solid #caa26b;
}
hr {
    border-top: 1px solid #eeeeee17;
}
.copyright a{
    color: #888;
}
.price span{
    font-family: 'ralewayregular', 'sans-serif';
    color: #888;
    font-size: 16px;
    text-transform: none;
}
.price{
    font-weight: bolder;
    font-size: 50px;
    color: #caa365;
}
@media screen and (max-width: 1199px){
    .title_reservation{
        display: none;
    }
    .widget_02 li {
        width: 20%!important;
    }
    .nav > li > a {
        padding: 10px 15px;
    }
    .content_ibe img {
        margin: 5px 10px 5px 10px!important;
    }
}
@media screen and (max-width: 991px){
    .container{
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
    }
    .widget_02{
        display: none;
    }
    .section_menu ul {
        display: none;
    }
    .nav_mobile{
        display: block;
    }
    .nav_mobile ul{
        display: block!important;
    }
    .section_reservationmobile{
        display: block;
    }
    .section_contect {
        bottom: 80px;
    }
    .section_page2 .col-xs-6{
        width: 100%;
    }
    .details{
        height: auto;
        text-align: center;
        padding: 50px 25px;
    }
    .section_page2 {
        padding: 0;
    }
}
@media screen and (max-width: 520px){
    .section_contect{
        display: none;
    }
}





/*style.ibe8.css*/





select {
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    appearance: inherit;
    list-style: none;
}

.night_none {
    display: none;
}

.reservation_box {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 350px;
    height: 450px;
    top: 0;
}

.reservation_box ul {
    margin: 0;
    padding: 10px;
    display: inline-block;
    width: 350px;
    background: #414141;
    color: #353535;
}

.reservation_box li {
    list-style: none;
    float: left;
    width: 50%;
}

.reservation_box .input_night {
    position: absolute;
    width: 60px;
    bottom: 10px;
    left: -25px;
    z-index: 0;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background: #eee;
    color: #7d7575;

}

.reservation_box .popup_content {
    position: absolute;
    background: #fff;
    width: 250px;
    margin: 20px 0;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.reservation_box #numberrroomRow:before {
    content: "\f0de";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: -12px;
    font-size: 50px;
    color: #fff;
    left: 10px;
}

.reservation_box .content_ibe {
    padding: 0;
    position: relative;
}

.reservation_box input {
    width: 100%;
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
    cursor: pointer;
    /*color: #fff;*/
    outline: none;
    /*letter-spacing: 1px;*/
    line-height: inherit;
}

.reservation_box select {
    width: 100%;
    padding: 0;
    border-radius: 0;
    background: none;
    border: none;
    /*color: #fff;*/
    outline: none;
    cursor: pointer;
    /*letter-spacing: 1px;*/
    position: relative;
    z-index: 1;
    line-height: inherit;
}

.reservation_box .text_reser {
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
}

.reservation_box .input_inout {
    text-align: left;
    padding-left: 50px;
}

.reservation_box .form-group {
    display: inline-block;
    padding: 5px 10px 10px 10px !important;
    margin: 0;
    width: 100%;
}

.reservation_box .arrow {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.reservation_box .arrow_index {
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: 25px;
    color: #ccc;
    top: 0;
    height: 25px;
    margin: auto;
}

.reservation_box .arrow_check {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.reservation_box .arrow_moon {
    left: 5px;
    z-index: 3;
    color: #7c778b;

    bottom: 22px;
}

.reservation_box .popup_content label {
    padding: 10px;
    color: #caa366;
    float: left;
}

.reservation_box .popup_content #ageRow1 label {
    color: #757575;
}

.reservation_box .popup_content #ageRow2 {
    color: #757575;
}

.reservation_box .popup_content #ageRow3 {
    color: #757575;
}

.reservation_box .popup_content .form_group_half {
    /*width: 50%;*/
    float: left;
    position: relative;
    width: 100%;
}

.reservation_box .popup_content #numberrroomRow {
    background: #ffffff;
    /*border-bottom: 1px solid #eee;*/
    /*border-top: 1px solid #eee;*/
}

.reservation_box .popup_content #numberOfRoom1 {
    position: relative;
    float: right;

}

.reservation_box .popup_content #numberOfRoom2 {
    position: relative;
    float: right;
}

.reservation_box .popup_content #numberOfRoom3 {
    position: relative;
    float: right;
}
.reservation_box .popup_content #numberOfRoom4 {
    position: relative;
    float: right;
}

.reservation_box .popup_content #numberOfRoom5 {
    position: relative;
    float: right;
}

.reservation_box .input-group-addon:first-child {
    background: #fff;
    padding: 0 15px;
    border: 1px solid #eee;
    font-size: 14px;
    border-right: none;
    width: 100px;
}

.reservation_box .btnbook_reser {
    /*background: #49aae4;*/
    color: #fff;
    /*text-transform: uppercase;*/
    transition: all 0.5s;
}

.reservation_box .btnbook_reser:hover {
    background: #242424!important;
    color: #fff;
    /*border: 1px solid #242424;*/
}
.input-group{
    width: 100%;
}
/*#ui-datepicker-div:before{*/
/*content: "\f0de";*/
/*font: normal normal normal 14px/1 FontAwesome;*/
/*position: absolute;*/
/*top: -12px;*/
/*font-size: 50px;*/
/*color: #fff;*/
/*left: 10px;*/
/*}*/

/*Horizontal_box*/
.box_horizontal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    top: 0;
    height: 115px;
}

.box_horizontal ul {
    width: 100%;
}

.box_horizontal li {
    width: 20%;
}

.box_horizontal .btnbook_reser {
    padding: 10px;
}

.box_horizontal .input_inout {
    text-align: center;
}

.popupTop {
    bottom: 85px;
    top: inherit;
}

.popupTop #numberrroomRow:before {
    top: inherit;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    bottom: -15px;
}

.popupTop #ui-datepicker-div:before {

}

.tooltip_room {
    position: absolute;
    top: -100px;
    background-color: #FFF;
    width: 200px;
    padding: 15px;
    z-index: 999;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation: wobble 2s infinite;
    display: none;
}

.tooltip_room h4 {
    color: #353535 !important;
    font-size: 14px;
    text-transform: none !important;
    margin: 0;
    font-weight: normal;
}

.tooltip_room:after {
    position: absolute;
    left: 10px;
    bottom: -10px;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFF;
    display: block;
    z-index: 2;
}

::placeholder {
    color: inherit;
}



.title_reser {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.title_reser h4 {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.best_rate {
    color: #fff;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.best_rate img {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.widget_04 .ui-datepicker {
    margin: 45px 0;
}

.widget_02 {
    position: absolute;
    right: auto;
    left: auto;
    margin: auto;
    height: auto;
    bottom: 44px;
    top: auto;
    width: 100%;
    /*background: rgba(36, 36, 36, 0.3);*/
    padding: 0;
    z-index: 2;
}

.widget_02 li {
    list-style: none;
    float: left;
    width: 16.666667%;
    padding: 10px;
}

.widget_02 ul {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    background: none;
    color: #888;
    font-size: 14px;
}
.widget_02 .btnbook_reser {
    /*background: #caa26b;*/
    color: #fff;
    transition: all 0.5s;
    /*border: 1px solid #caa366;*/
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    padding: 30px 0;
    /*box-shadow: 0 4px 10px 0 rgba(0,0,0,.15);*/
    width: 100%;
    text-align: center;
    /*text-transform: uppercase;*/
}
#popup_room_list select{
    border: 1px solid #eee;
    color: #888;
}
.widget_02 h1{
    font-size: 18px;
    margin: 0;
    color: #fff;
}
.widget_02 p{
    margin: 0;
}
.content_ibe img{
    /*position: absolute; */
    width: 35px;
    left: 0;
    bottom: 0;
    color: #58595b;
    top: 0;
    height: 32px;
    margin: 5px 15px 5px 15px;
    float: left;
    /* padding: 0px; */
}
.btn_apply {
    background: #caa366!important;
    position: relative;
    z-index: 2;
    color: #fff!important;
    font-size: 14px!important;
    font-family: inherit!important;
    letter-spacing: 1px;
    line-height: initial!important;
    padding: 10px!important;
    border: none!important;
}
#popup_room_list{
    transition: all 0.5s;
}
.border_fix.active:before {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    right: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #caa26b;
    animation: fadeIn 2s;
    display: block;
    z-index: 0;
    margin: auto;
    background: #000;
    box-shadow: rgba(202, 162, 107, 0.5) 0 0 10px;
}
.box_inout{
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    padding: 15px;
    background-color: #eee;
    /*box-shadow: 0 4px 10px 0 rgba(0,0,0,.15);*/
    width: 100%;
    height: 84px;
}

.checkin_box{
    border-right: 1px solid #ccc;
}
.box_room{
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    padding: 15px;
    background-color: #eee;
    /*box-shadow: 0 4px 10px 0 rgba(0,0,0,.15);*/
    width: 100%;
    height: 84px;
}
.box_promocode{
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    padding: 15px;
    background-color: #eee;
    /*box-shadow: 0 4px 10px 0 rgba(0,0,0,.15);*/
    width: 100%;
    height: 84px;
}

/*.padding_box{*/
    /*padding: 0 10px!important;*/
/*}*/
.reservation span{
    color: #242424;
}
input:focus::-webkit-input-placeholder {
    color:transparent;
    transition: all 0.3s;
}
#popup_room_list select{
    width: 100%;
    padding: 10px;
}
#popup_room_list input{
    width: 100%!important;
}
/*#chknoofroom{*/
    /*position: absolute;*/
    /*width: 80%;*/
/*}*/
.padding_apply{
    padding: 0 10px 10px;
}
.padding_box{
    padding: 0 5px!important;
}